@font-face {
    font-family: 'SVN-Pyes Pa Headline';
    src: url('SVN-PyesPaHeadline.woff2') format('woff2'),
        url('SVN-PyesPaHeadline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Safina Script';
    src: url('SVN-SafinaScript.woff2') format('woff2'),
        url('SVN-SafinaScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

