* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#shop{
    padding-top: 10px;
    display: flex;
    color: #A63D4C; 
    font-size: 80px;
    font-family: 'Italianno', cursive;
    justify-content: center;
    background-color:#fff;
}




#navbar{
    background-color: #fff;
}
.navul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.navli1,.navli2,.navli3, .navli4, .navli5, .navli6, .navli7{
    text-decoration:none;
    display: inline-block;
    color: #A63D4C;
    text-transform:none;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight:bold;
    font-size: 20px;
    padding: 10px 10px 10px;
}
a:hover{
    color:#fcf1ef;
    transition: .5s;
    background: #A63D4C;
}

.navli6{
    color:#fcf1ef;
    transition: .5s;
    background: #A63D4C;
}






#p1{
    background-color: #FDEDF0;
    height: 570px;
}
.p1-1{
    display: inline-block;
    color: #A63D4C;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight:bold;
    font-size: 50px; 
    padding-top: 50px;
    margin-left:150px;
}
.p1-2{
    display: inline-block;
    color: #422a2e;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 20px; 
    padding-top: 20px;
    margin-left:150px;
    width: 1200px;
}

#p2{
    background-color:rgb(228, 248, 251);
    height: 1300px;
}
.p2-1{
    display: inline-block;
    color:  rgb(92, 160, 172);
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight:bold;
    font-size: 50px; 
    padding-top: 50px;
    margin-left:150px;
}
.p2-2{
    display: inline-block;
    color: #422a2e;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 20px; 
    padding-top: 20px;
    margin-left:150px;
    width: 1200px;
}

#p3{
    background-color: #FDEDF0;
    height: 620px;
}
.p3-1{
    display: inline-block;
    color: #A63D4C;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight:bold;
    font-size: 50px; 
    padding-top: 50px;
    margin-left:150px;
}
.p3-2{
    display: inline-block;
    color: #422a2e;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 20px; 
    padding-top: 20px;
    margin-left:150px;
    width: 1200px;
}









#end{
    background-color: #fff;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.end-gioithieu{
    padding-top: 10px;
    color: #A63D4C; 
    font-size: 80px;
    font-family: 'Italianno', cursive;
    width: 400px;
    flex:1.5;
}
.end-gioithieu-1{
    padding-top:100px;
    display: flex;
    justify-content: center;
  
}
.end-gioithieu-2{
    display: flex;
    justify-content: center;
    font-family: 'Italianno', cursive;
    font-size: 30px; 
    color: #6a1824;
    margin-left:170px;
    width:300px;

}

.end-lienket{
    flex:1;
    margin-top: 100px;
    font-family: "Segoe UI",Arial,sans-serif;
    color: #404040;
}
.end-lienket-1{
    color: #A63D4C;
    font-size: 40px;
}
.end-lienket-2{
    list-style: none;
}
.end-lienket-2-a{
    text-decoration: none;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 20px; 
    color: #404040;
}
.end-lienket-2-a:hover{
    color: #A63D4C;
    background-color: #fff;
    text-decoration: underline;
}

.end-lienhe{
    flex:1;
    margin-top: 100px;
    font-family: "Segoe UI",Arial,sans-serif;
    color: #404040;
}
.end-lienhe-1{
    color: #A63D4C;
    font-size: 40px;
}
.end-lienhe-2{
    list-style: none;
    font-size: 20px;
}
